<nav>
	<div class="nav">
		<h1>
			<a href="{{path('home')}}">MyFlix</a>
		</h1>
		<div class="navLink">
		
		<a href="{{path('movie_index')}}">Films </a>
		<a href="{{path('tv_show')}}">Séries</a>
		</div>
	</div>
</nav>
