<form method="post" action="{{ path('movie_delete', {'id': movie.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cet élément ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ movie.id) }}">
    <button class="deleteBtn"><i class="fa-solid fa-trash-can"></i></button>
</form>
